body {
	background-color: seashell;
	color:black;
	font-family: Lucida Console;
	font-style:normal;
	font-weight:normal;
	margin: 15px;

}
.Kerryoke {
	text-align: center;
/*	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);*/
	text-decoration: underline;
	font-size: 32pt;
	font-family: Copperplate;
	color:#837E7C;
	padding:0px;
}

.col-md-4{
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 10px;


}
h5{
	margin:0px;
	font-size: 14px;
	padding-bottom:5px;
}

